*, *::before, *::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    overflow-x:hidden;
}

html {
    height: 100%;
    font-size: 100%;
    color: #3A2815;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 100;
}

.landing {
    padding-left: 12%;
    padding-right: 12%;
    background-color: #ECEAE4;
}

button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: #A4EAE6;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.container {
    padding: 0 20px;
}

/* GRID */
/*.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear:both;
}

.one-third {
    width: 96%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}*/

/* HERO */
.hero-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.hero-description {
    text-align: center;
}

.hero-details {
    margin-top: -530px;
    margin-bottom: 110px;
}

.hero-image {
    max-width: 100%;
    margin: auto;
}

.hero-image .hero-background {
    max-width: 100%;
}

.hero-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%); -180deg, #EAEAEA 31%, #C3C3C3 84%, #7A7A7A 100%;
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}

/* ABOUT */
.about {
    background-color: #A4EAE6;
    /*height: 400px;*/
    text-align: center;
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: 20px;
}

.about-title {
    font-size: 36px;
    text-align: center;
    padding-top: 25px;
}

.one-third {
    list-style-type: none;
    display: inline-block;
    max-width: 26%;
    margin: 0 2%;
}

img.about-pug {
    margin-bottom: -10px;
}

img.about-tea {
    margin-bottom: 5px;
}

img.about-heart {
    margin-bottom: 12px;
}

/* FLAVORS */
.flavors {
    background-color: #FFFFFF;
    margin: 0;
}

.half {
    padding-top: 20px;
}

.limited {
    text-transform: uppercase;
    color: #A4EAE6;
}

.left-image {
    float: left;
}

.pug-flavor-left {
    margin-left: 40px;
    float: left;
}

.rose-tea .limited {
    margin-top: 17px;
    margin-bottom: 40px;
    margin-left: 21px;
    float: left;
    font-size: 22px;
}

.rose-tea .flavor-name-left {
    margin: -35px 20px;
    float: left;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: lighter;
}

.flavor-description-left {
    float: right;
    margin-left: 20px;
    width: 54%;
}

.served-left {
    margin-left: 21px;
    margin-top: -5px;
    float: left;
}

img.toppings-one {
    float: left;
    margin-top: 20px;
    margin-left: -102px;
}

img.toppings-two {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
}


p.topping-name-one {
    float: left;
    margin-top: 83px;
    margin-left: -100px;
}

p.topping-name-two {
    float: left;
    margin-top: 84px;
    margin-left: -57px;
}

.button-left {
    float: left;
    margin-top: 104px;
    margin-left: -150px;
}

.milk-tea {
    clear: both;
}

.thai-tea {
    clear: both;
}

.matcha-tea {
    clear: both;
}

/* PUG OF THE MONTH */
.potm {
    background-color: #A4EAE6;
    overflow: hidden;
}

.chloe-image {
    margin: 30px 0 30px 150px;
    position: relative;
    float: left;
}

.chloe {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 20px;
    float: left;
}

.chloe-description {
    float: left;
    width: 350px;
    margin-left: 20px;
    margin-top: 0;
}

.potm button {
    float: left;
    background-color: #ECEAE4;
    margin-left: 20px;
    margin-top: 21px;
}


/* SOCIAL MEDIA */
.social-media {
    background-color: #FFFFFF;
    overflow: auto;
    padding-bottom: 20px;
}

.social-media h1 {
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
    margin: 0;
    padding: 20px 0;
}

.insta-image {
    width: 25%;
    height: 25%;
    padding: 4px;
    float: left;
}

/* TESTIMONIALS */
.testimonial {
    background-color: #FFFFFF;
    padding: 0 16px;
    margin-top: -2%;
    overflow: hidden;
}

.quote {
    font-size: 22px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 36px;
    font-style: italic;
}

.test-one {
    float: left;
    width: 350px;
    margin-left: 7%;
}

.test-two {
    float: left;
    margin-left: 10%;
    width: 350px;
}

.name {
    float: right;
    font-size: 18px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    margin-bottom: 9%;
    margin-top: 0%;
}

/* VISIT US */
section.visit-us {
    background-color: #FFFFFF;
    overflow: auto;
    padding-bottom: 2%;
}

img.map {
    float: left;
}

img.sign {
    margin-left: 2%;
    float: left;
}

.location-info {
    float: left;
}

section.visit-us h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 15% 13% 0;
}

section.visit-us h5 {
   margin: 10% 14%;;
   font-size: 18px;
   font-weight: 700;
}

section.visit-us p {
    font-weight: bold;
    margin: 7% 14% 0;;
}

section.visit-us ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 21px;
    margin-left: -2%;
}

/* FOOTER */
footer {
    background-color: #A4EAE6;
    margin-bottom: -2%;
    clear: both;
}

.icons {
    text-align: center;
    padding-top: 20px;
}

.icons a {
    font-size: 28px;
    color: #3A2815;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0 1% 0;
}

.copyright {
    text-align: center;
    padding-bottom: 20px;
}
